[package]
name = "mosaic-opendal-fuse"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "A FUSE filesystem for OpenDAL"
license.workspace = true
readme = "README.md"
repository.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]

[dev-dependencies]
